.form-control1 {
    display: block;
    width: 97.5%;
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #FAEBD7;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#newWine {
  background-color: rgba(0,0,0,.3);
  padding: 50px;
  width: 9;
  width: 550px;
  height: 330px;
  margin: 20px;
  color: #FAEBD7;
  margin-left: auto;
  margin-right: auto;
}

.formInput {
  background-color: rgba(0,0,0,.3);
  border: 0;
  float: right;
  width: 300px;
  height: 25px;
  padding: 4px;
  color: #FAEBD7;
  border-bottom: 1px;
}

.confirmButton {
  background: rgba(0,0,0,.3);
  float: right;
  margin-top: 30px;
}
