h1 {
  font-size: 60px;
  color: white;
  font-family: 'Oleo Script', cursive;
  padding: 10px;
  text-align: center;
  width: 100%;
}
body {
  background-image: url(vinyard1.jpg);
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  background-size:cover
}

html, body {
  margin: 0;
  height: 100%;
}

form {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
  color: white;
}

#homeLabel {
  width: 47%;
vertical-align: middle;
background-color: rgba(0, 0, 0, 0.3);
height: 400px;
padding-top: 65px;
margin-top: 80px;
margin-bottom: 50px;
}
