.navbar {

}

.vineyardNav {
  color: #FAEBD7;
  vertical-align: middle;
  position: absolute;
  font-family: 'Oleo Script',cursive;
  padding: 18px;
}
.bg-sleek {
  background-color: rgba(0, 0, 0, 0.3);
}
