<nav class="navbar navbar-dark bg-sleek">
  <a class="navbar-brand" href="#">
    <img class= "icon-img" src='/images/icon.png' width="50" height="50" >
    <span class="vineyardNav">  The Vineyard </span>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">


    <a class="navbar-brand" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Bootstrap
      </a>


    <ul class="navbar-nav">

      <% if (!locals.isAuthenticated){ %>

        <a class="nav-link" href="/login">Log In</a>
        <a class="nav-link" href="/register">Register</a>

        <% } %>

        <% if (locals.isAuthenticated){ %>

          <a class="nav-link" href="/logout">Log Out</a>

          <a class="nav-link" href="/wines">See your wines</a>

          <a class="nav-link" href="/wines/new">Add another wine to your cellar!</a>

          <% } %>



        </a>
      </div>
    </ul>
  </div>
</nav>
