<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <a class="nav-link" href="/login">Log In</a>

    <a class="nav-link" href="/register">Register</a>

    <a class="nav-link" href="/logout">Log Out</a>

    <a class="nav-link" href="/wines">See your wines</a>

    <a class="nav-link" href="/wines/new">Add another wine to your cellar!</a>

    </a>
    </div>
  </ul>
</div>
</nav>
