
<div class="container" id="homeLabel">


<h1>Welcome to the Vinyard!</h1>


<% if (!locals.isAuthenticated){ %>


  <% if (!locals.isAuthenticated){ %>

  <button class="logReg" id="log">  <a class="buttonText" href="/login">Login</a></button>
    <button class="logReg" id="reg"> <a class="buttonText" href="/register">Register</a> </button>

    <% } %>

  <% } %>
</div>
