// HELPERS
@import "helpers/reset";
@import "helpers/variables";

// COMPONENTS
@import "partials/generic";
body {
  background: blue;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
}
