<form method="POST" action="/wines">


  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required class="form-control">
  </div>


  <div class="form-group">
    <label for="region">Region</label>
    <input type="text" name="region" id="region" required class="form-control">
  </div>


  <div class="form-group">
    <label for="parings">parings</label>
    <input type="text" name="parings" id="parings" required class="form-control">
  </div>


  <div class="form-group">
    <label for="tastingNotes">tastingNotes</label>
    <input type="text" name="tastingNotes" id="tastingNotes" required class="form-control">
  </div>


  <div class="form-group">
    <label for="buyLink">buyLink</label>
    <input type="text" name="buyLink" id="buyLink" required class="form-control">
  </div>


  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required class="form-control">
  </div>

  <button class="btn btn-primary">Add a wine</button>
</form>
